.search {
    &__results {
        &-desktop {
            display: none;
        }
        &-mobile {
            &-media 
            {
                    display: flex;
                    text-align: left;
                    align-items: center;
                    color: white;
                    margin: 2% 0;
                    padding: 0 5%;
                    &-poster {
                        padding: 30px 0 15px 0;
                        margin-right: 10px;
                    }
                    &-button {
                        border: none;
                        color: white;
                        height: 30px;
                        width: 90%;
                        margin-left: 4px;
                        background-color: turquoise;
                        border-radius: 20px;
                    }
            }
         
        }
    }
}
@include medium {
    .search {
        &__results {
            &-desktop {
                display: block;
            }
            &-mobile {
                display: none;
                &-media 
                {
                    &-container {
                        display: flex;
                        background-color: red;
                    }
                }
            }
        }
    }
}