.home__slider {
    padding: 0 20%;
}
.cast__slider { 
    padding: 0 20%;
}
.slick-slide img  { 
    display: inline-block;
}
.slick {
    &-prev {
        left: 10%;
        height: 100px;
        width: 30px;
    }
    &-next {
        right: 10%;
        height: 100px;
        width: 30px;
    }
}
@include medium { 
    .slick {
        &-prev {
            left: 18%;
        }
        &-next {
            right: 18%;
        }
    }
 }