@import "./partials/breakpoints";
@import './partials/moveInfo';
@import './partials/slickSlider';
body {
    background-color: #363946
    
}
h3,h1,h2,h4 {
    color:#B1B6A6
}
.test {
    width: 100vw;
    max-height: 40%;
}
.link {
    display: inline-block;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.tilt-media {
    display: inline-block;
    margin: 0 5px;
}