@import "./partials/breakpoints";
@import './partials/moveInfo';
@import './partials/slickSlider';
body {
    background-color:#0d131f
}
h3,h1,h2,h4 {
    color:white
}
.test {
    width: 100vw;
    max-height: 40%;
}
.link {
    display: inline-block;
}

