@import "./partials/breakpoints";
@import './partials/moveInfo';
@import './partials/slickSlider';
@import './partials//nav';
@import "./partials/search";
@import "./partials/trailer";
@import "./partials/review";
body {
    background-color: #363946
    
}
h3,h1,h2,h4,h5 {
    color:white
}
.test {
    width: 100vw;
    max-height: 40%;
}
.link {
    display: inline-block;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.tilt-media {
    display: inline-block;
    margin: 0 5px;
}
.text-padding {
    padding: 0 5%;
}